@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

.container {
  display: flex;
  justify-content: center;
}

.header {
  text-align: center;
  padding-bottom: 22px;
  padding-top: 22px;
}

.cursor {
  cursor: pointer;
}